/data_in
/docs
!/data_in/
codes/.Rhistory
codes/__pycache__/
codes/img_data/
data_out/

data_in/blues/
data_in/classical/
data_in/country/
data_in/disco/
data_in/hiphop/
data_in/jazz/
data_in/metal/
data_in/pop/
data_in/reggae/
data_in/rock/
!/codes/utils.py
.idea/other.xml
!/codes/implementation.py
.ipynb_checkpoints/
Untitled.ipynb
